<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a href="/">...</a>
    <a href="/addBarberia">Agregar barberia</a>
    <a href="/addCliente">Agregar Cliente</a>
    <a href="/addBarbero">Agregar Barbero</a>
    <a href="/listBarberia">Listar barberia</a>
    <a href="/listCliente">Listar Clientes</a>
    <a href="/listBarbero">Listar Barberos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>